/* Removes white space in html file */
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* ##### HEADER ###### */
/* Styles the header */
.header{
    background-color: #49F2B6;
    display: flex;
    justify-content: space-between;
}

/* Styles the heading */
.site-heading{
    color: #1768D3;
    font-size: 48px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Creates a circle */
.circle{
    background-color: #1768D3;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    margin-top: -60px;
    margin-right: -120px;
    margin-bottom: -600px;
}

.body{
    background-image: url(./images/background.jpg);
}