/* Removes white space in html file */
*{
    margin: 0;
    padding: 0;
}

/* ##### HEADER ###### */
/* Styles the header */
.header{
    background-color: #49F2B6;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

/* Styles the heading */
.site-heading{
    color: #1768D3;
    font-size: 48px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: bold;
}

/* Creates a circle */
.circle{
    background-color: #1768D3;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    margin-top: -60px;
    margin-right: -120px;
    margin-bottom: -600px;

    /* z-index: 1; */
}

/* ######### BODY ######### */
/* Adds a background image to the body */
.body{
    background-image: url(./images/background.jpg);
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ###### LEFT INNER SECTION ###### */
/* Styles the left container */
.left{
    background: rgba(255, 255, 255, .9);
    width: 50%;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 60px;
    border-right: solid #1768D3 25px;
}

/* Styles the heading in the left container */
.left > h1{
    color: #1768D3;
    font-size: 54px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Styles the button */
button{
    color: #1768D3;
    background-color: #49F2B6;
    border-style: none;
    width: 280px;
    height: 80px;
    font-size: 36px;
    margin-top: 80px;
    border-radius: 5px;
    transition: 0.3s;
}

/* Adds hover effect to the button */
button:hover{
    color: white;
    background-color: #1768D3;
    border-style: none;
    width: 285px;
    height: 85px;
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: -5px;
    border-radius: 5px;
}

/* Styles the subheading */
.left > :nth-child(3){
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 160px;
}

/* Styles the subheading's last sentence */
.left > :nth-child(4){
    font-size: 64px;
    color: #1768D3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* Styles the output container */
.sheds-output-container{
    border: solid #49F2B6 2px;
    width: 560px;
    height: 290px;
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
}

/* ##### RIGHT INNER SECTION ##### */
.right{
    background: rgba(255, 255, 255, .9);
    width: 50%;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 60px;
    border-left: solid #1768D3 25px;
}

/* Styles the heading */
.right > :first-child{
    font-size: 48px;
    color: #1768D3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 8px;
}

/* Weekly/Yearly Income output container */
.weekly-income-output{
    border: solid #49F2B6 2px;
    width: 560px;
    height: 150px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: white;
}

/* Styles the second container's heading */
.right > :nth-child(3){
    font-size: 36px;
    color: #1768D3;
    margin-top: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Styles the monthly income output container */
.monthly-income-container{
    border: solid #49F2B6 2px;
    width: 560px;
    height: 290px;
    margin-top: 40px;
    background-color: white;
    border-radius: 5px;
}